:root {
    --bluebg: #016064; 
}

body {
    font-family: sans-serif;
    margin: 0;
}

/* background */

#bg {
    position: absolute;
    z-index: -10;
    left: 0px;
    top: 0px;
    opacity: 0.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow
}

#bg img {
    margin: 50vh calc(50vw - 480px);
    padding: 0;
}

/* root */

#root {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0vw;
}

#root main, {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root main h1 {
    text-align: center;
    margin: 20px;
}

#root main h1.group-name {
    font-size: 45px;
    margin-top: 35px;
}

#root main section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: calc(50vw - 450px);
    margin-right: calc(50vw - 450px);
    max-width: 900px;
}

#root main section.quote {
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;
}

#root main section ul li, #root main section p {
    max-width: 900px;
    text-overflow: ellipsis;
}

#root main section ul {
    margin: 0;
}

#root main section ul.rule-8-list {
    margin-bottom: 20px;
}

#root main section ul p {
    margin-left: -40px;
}

#root main section h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#root footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root footer p {
    margin: 15px 0px;
    margin-top: 35px;
}

#root footer a img {
    opacity: 0.7;
    padding: 15px;
    margin-bottom: 20px;
}

#root footer a img:hover {
    opacity: 1;
}

#root header nav, #root footer {
    background-color: var(--bluebg);
    color: white;
}

#root header nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#root header nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

#root header nav a, #root header nav p, #root header nav a:visited  {
    padding: 15px 20px;
    color: white;
}

#root header nav a:hover, #root header nav p:hover, #root div.aaaa div.rules-dropdown a:hover {
    background-color: #52b2bf;
}
